* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.columnas {
    display: flex;
}

#columna1 {
    display: block;
    width: 240px;
    background-color: #1f1d2b;
    height: 1025px;
}

#columna1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    line-height: 24px;
    width: 56px;
    height: 24px;
    color: #fff;
    margin: 40px 0 0 25px;
}

#columna1 span {
    color: #357DED;
}

.leftnav {
    margin-top: 100px;
}

.leftnav li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 18px;
    padding: 15px 20px;
    padding-left: 20px;
}

.leftnav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 16.4px;
    margin-left: 15px;
}

.leftnav i {
    font-size: 22px;
    color: #ABBBC2;
}

.leftnav .exit {
    position: relative;
    top: 295px;
}

.leftnav .bg1 {
    background-color: #252836;
}

.leftnav .bg1 a,
.leftnav .bg1 i {
    color: #357DED;
}


/* columna 2*/

#columna2 {
    display: block;
    width: 400px;
    height: 1025px;
    background-color: #252836;
}

#columna2 h3 {
    width: 176px;
    height: 39px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    line-height: 39px;
    padding: 50px 0px 20px 54px;
}

.linea {
    margin: 40px 0 0 52px;
}

.vector {
    position: relative;
    left: 365px;
    top: -57px;
}

.lineas {
    position: relative;
    left: 41px;
    top: -12px;
}

.mgt {
    margin-top: -15px;
}

.centernav {
    padding: 0px;
}

.centernav .content-center {
    list-style: none;
}

.content-center button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 400px;
    height: 80px;
    text-align: left;
    padding-left: 56px;
}

.content-center button i {
    padding-right: 15px;
}

.content-center span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
    padding-left: 35px;
}

span.apa {
    padding-left: 37px;
}

span.segu {
    padding-left: 28px;
}

span.ayu {
    padding-left: 29px;
}

span.pag {
    padding-left: 38px;
}

.content-center button:hover {
    background: #357DED;
}

.content-center button.active {
    background-color: #357DED;
}

#columna3 {
    display: block;
    width: 800px;
    background-color: #252836;
}

.tabcontent {
    display: none;
}

.fijo {
    display: block;
}

.encabezado {
    padding: 50px 0px 0px 54px;
}

.encabezado h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    line-height: 39px;
}

.encabezado .texto {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ABBBC2;
}

.encabezado .div-1 {
    width: 620px;
    margin-top: 38px;
}

.block-1,
.block-2 {
    display: flex;
}

.content-form2 {
    margin-top: 53px;
    margin-left: 20px;
}

#Cuenta form {
    position: absolute;
    top: 180px;
    left: 674px;
}

.content-form h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 28px;
}

.content-form p,
.content-form2 p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-bottom: 7px;
}

.content-form input,
.content-form2 input {
    margin-bottom: 20px;
    padding: 18px;
    width: 310px;
    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    background: #393C49;
    outline: none;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 14px;
}

.div-2 {
    width: 620px;
}

.block-2 select {
    padding: 18px;
    width: 310px;
    outline: none;
    border: 1px solid #393C49;
    border-radius: 8px;
    background: #393C49;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 14px;
}

input[type="date"] {
    padding: 16.3px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.block-2 .content-form2 input:nth-child(2) {
    margin-bottom: 22px;
}

.botones {
    position: absolute;
    top: 850px;
    width: 640px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    left: 665px;
}

.btn {
    padding: 17px;
    border: 1px solid #357DED;
    border-radius: 8px;
    width: 310px;
    margin-left: 20px;
}

.izq:hover {
    box-shadow: 0px 8px 24px rgba(53, 125, 237, 0.3);
}

.der {
    background-color: #357DED;
}

.der:hover {
    box-shadow: 0px 8px 24px rgba(53, 125, 237, 0.3);
}

.botones a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.tabcontent i {
    font-size: 300px;
    color: red;
    position: absolute;
    top: 350px;
    left: 900px;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20px);
    }
    59% {
        transform: translateY(-25px);
    }
}

.notificaciones i {
    color: yellow;
}

.seguridad i {
    color: goldenrod;
    left: 950px;
}

.pago i {
    color: #357DED;
}

.nosotros i {
    color: rgb(104, 167, 250);
}

.ayuda i {
    color: gray;
    left: 950px;
}