* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    height: 900;
    margin: 0px;
    padding: 0px;
}

.columnas {
    display: flex;
}

#columna1 {
    display: block;
    width: 20%;
    background-color: #1f1d2b;
}

#columna1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    line-height: 24px;
    position: relative;
    width: 56px;
    height: 24px;
    left: 38px;
    top: 8px;
    color: #fff;
}

#columna1 span {
    color: #357DED;
}

.leftnav {
    position: relative;
    top: 100px;
    margin: 0px;
    padding: 0px;
}

.leftnav li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 18px;
    padding: 15px 20px;
    padding-left: 20px;
}

.leftnav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 16.4px;
    margin-left: 15px;
}

.leftnav i {
    font-size: 22px;
    color: #ABBBC2;
}

.leftnav .exit {
    position: relative;
    top: 295px;
}

.leftnav .bg1 {
    background-color: #252836;
}

.leftnav .bg1 a,
.leftnav .bg1 i {
    color: #357DED;
}


/* columna 2*/

#columna2 {
    display: block;
    width: 30%;
}

.bg {
    background-color: #252836;
    height: 1024px;
}

#columna2 h3 {
    width: 176px;
    height: 39px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    line-height: 39px;
    position: relative;
    left: 64px;
    top: 30px;
}

.linea {
    position: relative;
    left: 41px;
    top: 20px;
    width: 391px;
}

.centernav {
    padding: 0px;
}

.centernav .content-center {
    list-style: none;
}

.content-center {
    height: 80px;
    padding: 30px 0px;
    margin-bottom: 2px;
}

.content-center button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.content-center .vector img {
    position: relative;
    left: 360px;
    top: -18px;
    width: 6.58px;
}

.content-center img {
    position: relative;
    top: -45px;
    width: 391px;
    left: 41px;
}

.content-center button i {
    padding-right: 15px;
    padding-left: 40px;
}

.content-center p {
    position: relative;
    left: 43px;
    top: -25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #ABBBC2;
}

.content-center:hover {
    background: #357DED;
}

.content-center button:hover {
    cursor: pointer;
    background: #357DED;
}

.content-center button.active i.first {
    color: rgb(247, 46, 46);
}

.content-center button.active i.two {
    color: rgb(104, 167, 250);
}

.content-center button.active i.tree {
    color: yellow;
}

.content-center button.active i.four {
    color: goldenrod;
}

.content-center button.active i.five {
    color: #357DED;
}

.content-center button.active i.six {
    color: rgb(104, 167, 250);
}

.content-center button.active i.seven {
    color: gray;
}

#columna3 {
    display: block;
    width: 50%;
}

.tabcontent {
    display: none;
}

.fijo {
    display: block;
}

.tabcontent h2 {
    position: absolute;
    top: 38px;
    left: 750px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    line-height: 39px;
}

.tabcontent .texto {
    position: absolute;
    left: 750px;
    top: 82px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ABBBC2;
}

.tabcontent .div-1 {
    position: relative;
    top: 123.5px;
    left: 30px;
    width: 665px;
}

#Cuenta form {
    position: absolute;
    top: 145px;
    left: 752px;
}

.block-1 .content-form:last-child {
    position: relative;
    top: 69.5px;
    left: 10px;
}

.block-2 .content-form:last-child {
    position: relative;
    top: 70.9px;
    left: 10px;
}

.block-2 .content-form input:nth-child(2) {
    padding: 20px !important;
}

.block-1,
.block-2 {
    display: flex;
}

.content-form h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.content-form p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.content-form input {
    margin-bottom: 20px;
    padding: 18px;
    width: 330px;
    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    background: #393C49;
    outline: none;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 14px;
}

.div-2 {
    width: 665px;
}

.block-2 select {
    padding: 18px;
    width: 330px;
    outline: none;
    border: 1px solid #393C49;
    border-radius: 8px;
    background: #393C49;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 14px;
}

.tabcontent i {
    font-size: 300px;
    color: red;
    position: absolute;
    top: 350px;
    left: 900px;
    animation: bounce 1s infinite;
    /* creamos la animacion para brincar */
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20px);
    }
    59% {
        transform: translateY(-25px);
    }
    /* le decimos com hacerlo y cada cuanto con keyframes */
}

.notificaciones i {
    color: yellow;
}

.seguridad i {
    color: goldenrod;
    left: 950px;
}

.pago i {
    color: #357DED;
}

.nosotros i {
    color: rgb(104, 167, 250);
}

.ayuda i {
    color: gray;
    left: 950px;
}

.botones {
    position: absolute;
    top: 900px;
    width: 650px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    left: 750px;
}

.btn {
    padding: 13px 30px;
    border: 1px solid #357DED;
    border-radius: 8px;
    width: 320px;
    margin-left: 10px;
}

.btn:hover {
    background-color: #357DED;
    box-shadow: 0px 8px 24px rgba(53, 125, 237, 0.3);
}

.botones a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}